.App {
  text-align: left;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #c04848; 
  background: -webkit-linear-gradient(to right, #c04848, #480048); 
  background: linear-gradient(to right, #c04848, #480048);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  /* align-items: center; */
  /* justify-content: center; */

  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
